[
 {elvis, [
  {config, [
   #{dirs => ["src"],
     filter => "*.erl",
     rules => [
      {elvis_text_style, line_length, #{limit => 120}},
      {elvis_text_style, no_tabs},
      {elvis_text_style, no_trailing_whitespace},
      {elvis_style, macro_names},
      {elvis_style, operator_spaces, #{rules => [{right, ","}, {right, "++"}, {left, "++"}]}},
      {elvis_style, nesting_level, #{level => 5}},
      {elvis_style, god_modules, #{limit => 30}}
     ]
    },
   #{dirs => ["test"],
     filter => "*.erl",
     rules => [
      {elvis_text_style, line_length, #{limit => 120}},
      {elvis_text_style, no_tabs},
      {elvis_text_style, no_trailing_whitespace}
     ]
    }
  ]}
 ]}
].
